$head-font-col: white;
$hover-nav-col: #fce38a;
$title-underline: #f38181;
$bgc-team-pic: #95e1d3;
$soc-bg-col: #fce38a;
$soc-ic-col: #f38181;
$soc-ic-col-hov:white;
$head-bgi: linear-gradient(to bottom, #e78282, #efd88995), url(/img/eagle@2x-min.png);
$sect1-2-decrip-color: #a6a6a6;
$m-section2-grad: linear-gradient(to bottom, rgba(237,214,134,0.8), rgba(236,136,138,0.8));
$bottom-bord-color: #e5e5e5; 
$footer-btn-col: #95e1d3;
$footer-btn-txt: white;
$footer-btn-hov: #e78282;
// Fonts//
$title-font:'Montserrat', sans-serif;
$kaushan-font:'Kaushan Script', cursive;
$section1-desript:'Roboto', sans-serif;