body {
    font-family: 'Montserrat', sans-serif;
}
h3, p {
    margin: 0;
    padding: 0;
}
h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 25px;
}
p {
    color: #999999;
    font-size: 14px;
}
span {
    text-transform: none;
    align-self: center;
    margin-bottom: 25px;
    font-size: 24px;
    font-family: 'Kaushan Script', cursive;
}

h2 {
    display: flex;
    flex-direction: column;
    align-self: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0%;
    font-size: 30px;
}
h2::after {
    margin: 45px auto 0px;
    display: block;
    content: '';
    width: 70px;
    height: 4px;
    background-color: #f38181;
}
.cont-wrapper {
    margin: 0 auto;
    width: 1200px;
}
ul {
    list-style: none;
}
a {text-decoration: none;
}
nav {
    justify-content: space-between;
    padding-top: 20px;
    display: flex;
    padding-bottom: 110px;
}
.ulmenu {
    height: 25px;
    padding: 0;
    margin: 0%;
    display: flex;
    width: 490px;
    justify-content: space-between;
    align-items: flex-end;
}
.menu {
    align-self: end;
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    color: #95e1d3;
    transition: all 0.3s linear;
}
.menu:hover {
    transition: 0.3s linear;
    color: #f38181;
}
.menu::after {
    top: 140%;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    content: '';
    width: 0%;
    height: 4px;
    background-color: #f38181;
    position: absolute;
    transition: all 200ms linear;
}
.menu:hover::after{
 width: 100%;
}
.logo {
    position: absolute;
    margin: 0;
    width: 90px;
    color: #95e1d3;
    font-size: 30px;
    font-weight: bold;
    animation: logo linear 2300ms;
}
@keyframes logo {
    0% {
        transform: translateX(80px);
        opacity: 0.3;
        color: white;
    }
    20% {font-size: 50px;
        transform: translateX(-80px);
        }
    40% {transform: translateY(80px);}
    60% {
        transform: translateX(60px);
        font-size: 20px;    
        }   
    80% {
        transform: translateY(-50px);
        font-size: 50px;
        }
    90% {transform: translateX(-50px); font-size: 20px;}
    100%{ 
        opacity: 1;
        color: #95e1d3;
        transform: translateX(0px);
    }
}
.hwrapper {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}
.services-list {
    margin: 0;
    padding-left: 0px;
    height: 340px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-around;
}
.services-list > li {
    margin-left: 90px;
    width: 307px;
    position: relative;
}
.services-list > li:nth-child(3){
    margin-right: 0px;
}
.services-list > li:last-child {
    margin-right: 0px;
}
.serv::before {
    content: '';
    width: 45px;
    height: 45px;
    display: block;
    background-repeat: no-repeat;
    position: absolute;
    left: -20%;
    top: 4%
}
.serv1::before {
    background-image: url(img/watch.png);    
}
.serv2::before {
    background-image: url(img/webd.png);
}
.serv3::before {
    background-image: url(img/screen.png);
}
.serv4::before {
    background-image: url(img/book.png);
}
.serv5::before {
    background-image: url(img/home.png);
}
.serv6::before {
    background-image: url(img/cross.png);
}
.serv > h4 { 
    margin-bottom: 18px;
}
.teamh {
    margin-bottom: 50px;
}
.hwrapper2{
    margin-bottom: 100px;
}
.team-list {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}
.worker {
    text-align: center;
}
.worker > h4 {
    margin-bottom: 10px;
}
.team-list > li {
    position: relative;
    width: 410px;
    height: 550px;
}
.picwrap {   
    margin-bottom: 30px;
    width: 380px;
    height: 470px;
    background-color: #95e1d3;
}
.pic {
    width: 380px;
    height: 470px;
}
.picwrap2{
    position: absolute;
    width: 380px;
    height: 470px;
    transition: 200ms linear;
}
.picwrap:hover .picwrap2{
    transform: translate(-15px, -10px) rotate(1.5deg);
}
.gradient {
    justify-content: center;
    display: flex;
    left: 0%;
    top: 0%;
    position: absolute;
    width: 380px;
    height: 470px;
    transition: all linear 200ms;
}
.picwrap:hover .gradient {
    background: linear-gradient(rgba(239, 138, 138, 0.8), rgba(230, 209, 131, 0.8 ));
}
.social{
    opacity: 0;
    justify-content: space-between;
    align-self: center;
    display: flex;
    padding: 0%;
    width: 225px;
    height: 55px;
    transition: linear 200ms;
}
.picwrap:hover .social {
    opacity: 1;
}
.social > li {
    background-color: #fce38a;
    width: 56px;
    height: 55px;
    transition: linear 200ms;
}
.social > li:nth-child(-n+3) {
    border-right: 0.5px solid #f38181;
}
.social li:hover {
    background-color: #95e1d3;
}
.social-icons {
    display: block;
    width: 55px;
    height: 55px;
    background-repeat: no-repeat;
    background-position: center;
}
.face {
    background-image: url(img/facebook.png);
}
.twit {
    background-image: url(img/twitter.png);
}
.pint {
    background-image: url(img/pinterest.png);
}
.inst {
    background-image: url(img/instagram.png);
}

main {
    margin-bottom: 90px;
}
footer { 
    height: 65px;
    display: flex;
    border-top: 1px solid #e5e5e5;
    justify-content: space-between;
    align-content: center;
}
.left-wrap {
    display: flex;
    align-self: center;
}
.right-wrap {
    width: 380px;
    height: 40px;
    border: 1px solid #e5e5e5;
    display: flex;
    align-self: center;
}
.footlink {
    color: #f6a1a1;
}
.foot {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
.subscribe {
    font-weight: 600;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
    font-size: 15px;
    color: white;
    border: none;
    width: 150px;
    height: 40px;
    background: #95e1d3;
}
.subscribe:hover { 
    background: linear-gradient(rgba(239, 138, 138), rgba(230, 209, 131));
}
form {
    display: flex;
    color: #cccccc;
}
.email {
    opacity: 0.5;
    outline: none;
    font-size: 15px;
    font-style: italic;
    width: 230px;
    border: none;
    height: 37px;
}
