.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
button{
    outline: none;
  }
body {
    margin: 0px;
}
a{
    text-decoration: none;
    display: block;
}
.container {
    width: 100%;  
    padding-top: 38px;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}
.logo {
    margin-top: 4px;
    float: left;
    text-decoration: none;
  }
h1 {
    margin: 0px;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 32px;
    color: #555252;
  }
h1::first-letter {
    font-weight: 800;
    color: #1abc9c;
  }
header {
    padding-bottom: 40px;
    margin: 0 auto;
    width: 86.75%;
}
.menu {
    float: right;
    padding: 0px;
    margin: 0px;
    
}
.menu-item {
    margin-top: 19px;
    padding: 0px;
    margin-right: 35px;
    list-style: none;
    float: left;
}
.menu-item:last-child {
    margin-right: 0px;
}
.menu a {
    font-weight: 700;
    line-height: 11px;
    font-size: 14px;
    text-transform: uppercase;
    color:#747272
}
.menu a:hover {
    transition: 0.1s linear;
    color: #1abc9c;
}
.menu-shop {
    position: relative;
}
.submenu {
    right: -95%;
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: 105px;
    z-index: 100;
    position: absolute;
    opacity: 0;
}
.menu-shop:hover .submenu {
    opacity: 1;
    transition: 0.5s linear;
}
.submenu-item {
    text-align: center;
    background-color: white;
    display: block;
    margin-top: 3px;
    padding-top: 5px;
    height: 15px;
    width: 105px;
    border: solid #747272 1px;
    border-radius: 5px;
}
.submenu-item:hover {
    transition: 0.45s;
    padding-left: 10px;
}
/* slider starts here!!! */

.slider-wrapper {
    height: 450px;
}
.slider {
    z-index: 2;
    object-fit: cover;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 450px;
}
.slider-img {
    filter: brightness(50%);
    z-index: 1;
    width: 100%;
    height: 450px;
    object-fit: cover;
    position: absolute;
    left: 0px;
    top: 0px;
}
.button {
    z-index: 3;
    background-color: rgba(26, 188, 156, 0.65);
    height: 70px;
    width: 70px;
    position: absolute;
    border: none;
    top: 50%;
    transform: translateY(-50%);
}
.button:hover{
    background-color: #1abc9c;
    opacity: 0.9;
    transition: 0.3s linear;
}
.but-left {
    left: 17%;
}
.but-right{
    right: 17%;
}

.slider-h{
    font-weight: 350;
    color: white;
    font-size: 45px;
    top: 23%;
    left: 49%;
    transform: translateX(-50%);
    z-index: 4;
    position: absolute;
}
.slider-p{
    font-weight: 300;
    position: absolute;
    z-index: 6;
    color: white;
    font-size: 16px;
    top: 45%;
    right: 47%;
}
.main-wrapper {
    padding-bottom: 100px;
    background-color: #e9f0fd;
    width: 100%;
}
main{
    margin: 0 auto;
    width: 86.75%;
}

/* main collection starts here!!!! */

h3 {
    margin-bottom: 70px;
    margin-top: 90px;
    font-weight: 700;
    line-height: 29px;
    font-size: 40px;
    text-transform: uppercase;
    color: #515151;
    text-align: center;
}
h3::after{
    margin: 25px auto 0px;
    display: block;
    content: '';
    background-color: #1abc9c;
    width: 150px;
    height: 6px;
    text-align: center;
}
.collection {
    width: 100%;
    align-content: center;
    font-size: 0px;
    margin: 0px;
    padding: 0px;
    list-style: none;
    float: right;
}
.collection li {
    position: relative;
    float: left;
}
.collection li:nth-child(-n+3) {
    margin-right: 30px;
}
.wrapper {
    background-color: #323232;
    width: 255px;
    height: 40px;
}
h4 {
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
    float: left;
    width: 200px;
    height: 40px;
    text-transform: uppercase;
    color: white;
    font-size: 18px;
    line-height: 40px;
}
.price {
    text-align: center;
    float: right;
    color: white;
    font-weight: 700;
    background-color: #8c8c8c;
    width: 40px;
    height: 40px;
    margin: 0px;
    line-height: 40px;
    font-size: 18px;
}
.collection li:hover .wrapper {
    transition: 0.3s linear;
    background-color: #1abc9c;
}
.collection li:hover .price{
    background-color: #7fd9c7;
    transition: 0.3s linear;
}
.buy{
    border:7.5px white solid;
    opacity: 0;
    left: 0%;
    top: 0%;
    background-color: black;
    width: 240px;
    height: 268px;
    position: absolute;
}
.collection li:hover .buy {
    opacity: 0.6;
    transition: 0.3s linear;
}
.icon {
    padding: 0px;
    top: 30%;
    left: 18%;
    position: absolute;
    border: none;
}
.heart {
    opacity: 0;
    padding: 5px;
    border: 1px solid;
    border-color: whitesmoke;
    width: 40px;
    height: 40px;
    position: absolute;
}
.collection li:hover .heart{
    opacity: 1;
    transition: 0.3s linear;
}
.heart:hover {
    padding-left: 10px;
    background-color: #1abc9c;
}
.share {
    opacity: 0;
    height: 40px;
    width: 40px;
    padding:5px;
    border: 1px solid whitesmoke;
    position: absolute;
}
.collection li:hover .share{
    opacity: 1;
    transition: 0.3s linear;
}
.share:hover{
    padding-left: 10px;
    background-color: #1abc9c;
}
.icon2 {
    padding: 0px;
    top: 30%;
    left: 40%;
    position: absolute;
    border: none;
}
.icon3 {
    padding: 0px;
    top: 30%;
    left: 62.1%;
    position: absolute;
    border: none;
}
.watch{
    opacity: 0;
    height: 40px;
    width: 40px;
    padding:5px;
    border: 1px solid whitesmoke;
    position: absolute;
}
.collection li:hover .watch { 
    opacity: 1;
    transition: 0.3s linear;    
}
.watch:hover {
    padding-left: 10px;
    background-color: #1abc9c;
}
.icon4 {
    left: 18%;
    top: 48%;
    border: solid white 1px;
    opacity: 0;
    width: 164px;
    height: 52px;
    padding: 0px;
    border: none;
    background-color:#323232;
    position: absolute;
}
.cart {
    z-index: 2000;
    left: 5%;
    top: 10%;
    position: absolute;
    float: left;
    height: 40px;
    width: 40px;    
}
.icon4:hover .cart {
    padding-left: 10px;
    transition: 0.3s;
}
.collection li:hover .cart-wrapper {
    opacity: 1;
    transition: 0.3s linear;
}
.icon4:hover {
    background-color: #1abc9c;
}
.add-cart{
    margin-top: 17px;
    margin-right: 10px;
    text-transform: uppercase;
    color: white;
    font-size: 14px;
    float: right;
}
footer {
    text-align: center;
    height: 90px;
    background-color: #323232;
    width: 100%;
}
footer p {
    margin-top: 35px;
    display: inline-block;
    color: white;
    font-size: 16px;
}
footer a {
    display: inline-block;
    color: #1abc9c;
    font-size: 16px;
}
